<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Неймаркет</title>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script>
        async function getData()
        {
            fetch('http://example.com/movies.json')
              .then((response) => {
                return response.json();
              })
              .then((data) => {
                console.log(data);
              });
        }
        var app = window.Telegram.WebApp;
    </script>
</head>
<body>
    <p>Hello, world</p>
    <p id="ident">Ваш id</p>
    <script>

        app.ready();
        const i_am = app.initDataUnsafe.user;
        document.getElementById("ident").textContent = i_am.id;
    </script>
</body>
</html>