<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Неймаркет</title>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script>
        var app = window.Telegram.WebApp;
    </script>
</head>
<body>
    <p>Hello, world</p>
    <p id="progress">Идёт проверка прав доступа...</p>
    <script>
        app.ready();

        fetch('https://mpit-api.hexlev.ru/auth', {
            method: 'POST',
            body: app.initData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                console.log(data.length);
                if (data.length == 42)
                {
                    document.cookie = "token="+data.split()[0]+"; max-age=86400; SameSite=lax"
                    document.getElementById("progress").textContent = "Доступ разрешён";
                    window.location.href = 'https://mpit.hexlev.ru/events';
                }
                else
                {
                    document.getElementById("progress").textContent = "Регистрация провалена";
                    app.showAlert("Вы не зарегистрированны");
                    app.close();
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
        });
        app.ready();
    </script>
</body>
</html>